#display{
    background-color: black;
    width: 320px;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
}
#displayValue{
    text-align: right;
    color: white;
    margin-right: 10px;
    line-height: 80px;
    font-size: 50px;
}
.operator p{
    background-color: #e7e7e7;
    width: 78px;
    height: 80px;
    border: solid 1px #a9a9a9;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    line-height: 80px;
}
.operator{
    display: flex;
    justify-content: left;
}
#pad{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 240px;
}
#pad p{
    background-color: #ffffff;
    width: 78px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    line-height: 80px;
    border: 1px solid #a9a9a9;
}
.equal{
    background-color: #fa8664;
    text-align: center;
    line-height: 320px;
    width: 78px;
    border: 1px solid #a9a9a9;
    font-size: 30px;
    max-height: 325px;
    max-width: 80px;
    border-bottom-right-radius: 10px;
}
.number{
    display: flex;
}
#zero{
    border-bottom-left-radius: 10px;
}
.oper.operatorClick{
    background-color: green;
}

.oper.operatorClickRemove{
    background-color: #a9a9a9;
}


